<!--begin::Container-->
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
	<!--begin::Post-->
	<div class="content flex-row-fluid" id="kt_content">
		<!--begin::Row-->
		<div class="row g-5 g-xxl-8">
			<!--begin::Col-->
			<div class="col-xxl-4">
				<!--begin::Mixed Widget 5-->
				<div class="card card-xxl-stretch mb-xl-3">
					<!--begin::Beader-->
					<div class="card-header border-0 py-5">
						<h3 class="card-title align-items-start flex-column">
							<span class="card-label fw-bolder fs-3 mb-1">Trends</span>
							<span class="text-muted fw-bold fs-7">Latest trends</span>
						</h3>
						<div class="card-toolbar">
							<!--begin::Menu-->
							<button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
								data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
								<!--begin::Svg Icon | path: icons/duotune/general/gen024.svg-->
								<span class="svg-icon svg-icon-2">
									<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
										viewBox="0 0 24 24">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
											<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000"
												opacity="0.3" />
											<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000"
												opacity="0.3" />
											<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000"
												opacity="0.3" />
										</g>
									</svg>
								</span>
								<!--end::Svg Icon-->
							</button>
							<!--begin::Menu 3-->
							<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold w-200px py-3"
								data-kt-menu="true">
								<!--begin::Heading-->
								<div class="menu-item px-3">
									<div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">Payments</div>
								</div>
								<!--end::Heading-->
								<!--begin::Menu item-->
								<div class="menu-item px-3">
									<a href="#" class="menu-link px-3">Create Invoice</a>
								</div>
								<!--end::Menu item-->
								<!--begin::Menu item-->
								<div class="menu-item px-3">
									<a href="#" class="menu-link flex-stack px-3">Create Payment
										<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"
											title="Specify a target name for future usage and reference"></i></a>
								</div>
								<!--end::Menu item-->
								<!--begin::Menu item-->
								<div class="menu-item px-3">
									<a href="#" class="menu-link px-3">Generate Bill</a>
								</div>
								<!--end::Menu item-->
								<!--begin::Menu item-->
								<div class="menu-item px-3" data-kt-menu-trigger="hover"
									data-kt-menu-placement="right-end">
									<a href="#" class="menu-link px-3">
										<span class="menu-title">Subscription</span>
										<span class="menu-arrow"></span>
									</a>
									<!--begin::Menu sub-->
									<div class="menu-sub menu-sub-dropdown w-175px py-4">
										<!--begin::Menu item-->
										<div class="menu-item px-3">
											<a href="#" class="menu-link px-3">Plans</a>
										</div>
										<!--end::Menu item-->
										<!--begin::Menu item-->
										<div class="menu-item px-3">
											<a href="#" class="menu-link px-3">Billing</a>
										</div>
										<!--end::Menu item-->
										<!--begin::Menu item-->
										<div class="menu-item px-3">
											<a href="#" class="menu-link px-3">Statements</a>
										</div>
										<!--end::Menu item-->
										<!--begin::Menu separator-->
										<div class="separator my-2"></div>
										<!--end::Menu separator-->
										<!--begin::Menu item-->
										<div class="menu-item px-3">
											<div class="menu-content px-3">
												<!--begin::Switch-->
												<label
													class="form-check form-switch form-check-custom form-check-solid">
													<!--begin::Input-->
													<input class="form-check-input w-30px h-20px" type="checkbox"
														value="1" checked="checked" name="notifications" />
													<!--end::Input-->
													<!--end::Label-->
													<span class="form-check-label text-muted fs-6">Recuring</span>
													<!--end::Label-->
												</label>
												<!--end::Switch-->
											</div>
										</div>
										<!--end::Menu item-->
									</div>
									<!--end::Menu sub-->
								</div>
								<!--end::Menu item-->
								<!--begin::Menu item-->
								<div class="menu-item px-3 my-1">
									<a href="#" class="menu-link px-3">Settings</a>
								</div>
								<!--end::Menu item-->
							</div>
							<!--end::Menu 3-->
							<!--end::Menu-->
						</div>
					</div>
					<!--end::Header-->
					<!--begin::Body-->
					<div class="card-body d-flex flex-column">
						<!--begin::Chart-->
						<div class="mixed-widget-5-chart card-rounded-top" data-kt-chart-color="success"
							style="height: 150px"></div>
						<!--end::Chart-->
						<!--begin::Items-->
						<div class="mt-5">
							<!--begin::Item-->
							<div class="d-flex flex-stack mb-5">
								<!--begin::Section-->
								<div class="d-flex align-items-center me-2">
									<!--begin::Symbol-->
									<div class="symbol symbol-50px me-3">
										<div class="symbol-label bg-light">
											<img src="assets/media/svg/brand-logos/plurk.svg" class="h-50" alt="" />
										</div>
									</div>
									<!--end::Symbol-->
									<!--begin::Title-->
									<div>
										<a href="#" class="fs-6 text-gray-800 text-hover-primary fw-bolder">Top
											Authors</a>
										<div class="fs-7 text-muted fw-bold mt-1">Ricky Hunt, Sandra Trepp</div>
									</div>
									<!--end::Title-->
								</div>
								<!--end::Section-->
								<!--begin::Label-->
								<div class="badge badge-light fw-bold py-4 px-3">+82$</div>
								<!--end::Label-->
							</div>
							<!--end::Item-->
							<!--begin::Item-->
							<div class="d-flex flex-stack mb-5">
								<!--begin::Section-->
								<div class="d-flex align-items-center me-2">
									<!--begin::Symbol-->
									<div class="symbol symbol-50px me-3">
										<div class="symbol-label bg-light">
											<img src="assets/media/svg/brand-logos/figma-1.svg" class="h-50" alt="" />
										</div>
									</div>
									<!--end::Symbol-->
									<!--begin::Title-->
									<div>
										<a href="#" class="fs-6 text-gray-800 text-hover-primary fw-bolder">Top
											Sales</a>
										<div class="fs-7 text-muted fw-bold mt-1">PitStop Emails</div>
									</div>
									<!--end::Title-->
								</div>
								<!--end::Section-->
								<!--begin::Label-->
								<div class="badge badge-light fw-bold py-4 px-3">+82$</div>
								<!--end::Label-->
							</div>
							<!--end::Item-->
							<!--begin::Item-->
							<div class="d-flex flex-stack">
								<!--begin::Section-->
								<div class="d-flex align-items-center me-2">
									<!--begin::Symbol-->
									<div class="symbol symbol-50px me-3">
										<div class="symbol-label bg-light">
											<img src="assets/media/svg/brand-logos/vimeo.svg" class="h-50" alt="" />
										</div>
									</div>
									<!--end::Symbol-->
									<!--begin::Title-->
									<div class="py-1">
										<a href="#" class="fs-6 text-gray-800 text-hover-primary fw-bolder">Top
											Engagement</a>
										<div class="fs-7 text-muted fw-bold mt-1">KT.com</div>
									</div>
									<!--end::Title-->
								</div>
								<!--end::Section-->
								<!--begin::Label-->
								<div class="badge badge-light fw-bold py-4 px-3">+82$</div>
								<!--end::Label-->
							</div>
							<!--end::Item-->
						</div>
						<!--end::Items-->
					</div>
					<!--end::Body-->
				</div>
				<!--end::Mixed Widget 5-->
			</div>
			<!--end::Col-->
			<!--begin::Col-->
			<div class="col-xxl-4">
				<!--begin::Mixed Widget 7-->
				<div class="card card-xxl-stretch-50 mb-5 mb-xl-8">
					<!--begin::Body-->
					<div class="card-body d-flex flex-column p-0">
						<!--begin::Stats-->
						<div class="flex-grow-1 card-p pb-0">
							<div class="d-flex flex-stack flex-wrap">
								<div class="me-2">
									<a href="#" class="text-dark text-hover-primary fw-bolder fs-3">Generate Reports</a>
									<div class="text-muted fs-7 fw-bold">Finance and accounting reports</div>
								</div>
								<div class="fw-bolder fs-3 text-primary">$24,500</div>
							</div>
						</div>
						<!--end::Stats-->
						<!--begin::Chart-->
						<div class="mixed-widget-7-chart card-rounded-bottom" data-kt-chart-color="primary"
							style="height: 150px"></div>
						<!--end::Chart-->
					</div>
					<!--end::Body-->
				</div>
				<!--end::Mixed Widget 7-->
				<!--begin::Mixed Widget 10-->
				<div class="card card-xxl-stretch-50 mb-5 mb-xl-8">
					<!--begin::Body-->
					<div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
						<!--begin::Hidden-->
						<div class="d-flex flex-stack flex-wrap flex-grow-1 px-9 pt-9 pb-3">
							<div class="me-2">
								<span class="fw-bolder text-gray-800 d-block fs-3">Sales</span>
								<span class="text-gray-400 fw-bold">Oct 8 - Oct 26 21</span>
							</div>
							<div class="fw-bolder fs-3 text-primary">$15,300</div>
						</div>
						<!--end::Hidden-->
						<!--begin::Chart-->
						<div class="mixed-widget-10-chart" data-kt-color="primary" style="height: 175px"></div>
						<!--end::Chart-->
					</div>
				</div>
				<!--end::Mixed Widget 10-->
			</div>
			<!--end::Col-->
			<!--begin::Col-->
			<div class="col-xl-4">
				<!--begin::List Widget 4-->
				<div class="card card-xl-stretch mb-5 mb-xl-8">
					<!--begin::Header-->
					<div class="card-header border-0 pt-5">
						<h3 class="card-title align-items-start flex-column">
							<span class="card-label fw-bolder text-dark">Trends</span>
							<span class="text-muted mt-1 fw-bold fs-7">Latest tech trends</span>
						</h3>
						<div class="card-toolbar">
							<!--begin::Menu-->
							<button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
								data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
								<!--begin::Svg Icon | path: icons/duotune/general/gen024.svg-->
								<span class="svg-icon svg-icon-2">
									<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
										viewBox="0 0 24 24">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
											<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000"
												opacity="0.3" />
											<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000"
												opacity="0.3" />
											<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000"
												opacity="0.3" />
										</g>
									</svg>
								</span>
								<!--end::Svg Icon-->
							</button>
							<!--begin::Menu 3-->
							<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold w-200px py-3"
								data-kt-menu="true">
								<!--begin::Heading-->
								<div class="menu-item px-3">
									<div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">Payments</div>
								</div>
								<!--end::Heading-->
								<!--begin::Menu item-->
								<div class="menu-item px-3">
									<a href="#" class="menu-link px-3">Create Invoice</a>
								</div>
								<!--end::Menu item-->
								<!--begin::Menu item-->
								<div class="menu-item px-3">
									<a href="#" class="menu-link flex-stack px-3">Create Payment
										<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"
											title="Specify a target name for future usage and reference"></i></a>
								</div>
								<!--end::Menu item-->
								<!--begin::Menu item-->
								<div class="menu-item px-3">
									<a href="#" class="menu-link px-3">Generate Bill</a>
								</div>
								<!--end::Menu item-->
								<!--begin::Menu item-->
								<div class="menu-item px-3" data-kt-menu-trigger="hover"
									data-kt-menu-placement="right-end">
									<a href="#" class="menu-link px-3">
										<span class="menu-title">Subscription</span>
										<span class="menu-arrow"></span>
									</a>
									<!--begin::Menu sub-->
									<div class="menu-sub menu-sub-dropdown w-175px py-4">
										<!--begin::Menu item-->
										<div class="menu-item px-3">
											<a href="#" class="menu-link px-3">Plans</a>
										</div>
										<!--end::Menu item-->
										<!--begin::Menu item-->
										<div class="menu-item px-3">
											<a href="#" class="menu-link px-3">Billing</a>
										</div>
										<!--end::Menu item-->
										<!--begin::Menu item-->
										<div class="menu-item px-3">
											<a href="#" class="menu-link px-3">Statements</a>
										</div>
										<!--end::Menu item-->
										<!--begin::Menu separator-->
										<div class="separator my-2"></div>
										<!--end::Menu separator-->
										<!--begin::Menu item-->
										<div class="menu-item px-3">
											<div class="menu-content px-3">
												<!--begin::Switch-->
												<label
													class="form-check form-switch form-check-custom form-check-solid">
													<!--begin::Input-->
													<input class="form-check-input w-30px h-20px" type="checkbox"
														value="1" checked="checked" name="notifications" />
													<!--end::Input-->
													<!--end::Label-->
													<span class="form-check-label text-muted fs-6">Recuring</span>
													<!--end::Label-->
												</label>
												<!--end::Switch-->
											</div>
										</div>
										<!--end::Menu item-->
									</div>
									<!--end::Menu sub-->
								</div>
								<!--end::Menu item-->
								<!--begin::Menu item-->
								<div class="menu-item px-3 my-1">
									<a href="#" class="menu-link px-3">Settings</a>
								</div>
								<!--end::Menu item-->
							</div>
							<!--end::Menu 3-->
							<!--end::Menu-->
						</div>
					</div>
					<!--end::Header-->
					<!--begin::Body-->
					<div class="card-body pt-5">
						<!--begin::Item-->
						<div class="d-flex align-items-sm-center mb-7">
							<!--begin::Symbol-->
							<div class="symbol symbol-50px me-5">
								<span class="symbol-label">
									<img src="assets/media/svg/brand-logos/plurk.svg" class="h-50 align-self-center"
										alt="" />
								</span>
							</div>
							<!--end::Symbol-->
							<!--begin::Section-->
							<div class="d-flex align-items-center flex-row-fluid flex-wrap">
								<div class="flex-grow-1 me-2">
									<a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Top Authors</a>
									<span class="text-muted fw-bold d-block fs-7">Mark, Rowling, Esther</span>
								</div>
								<span class="badge badge-light fw-bolder my-2">+82$</span>
							</div>
							<!--end::Section-->
						</div>
						<!--end::Item-->
						<!--begin::Item-->
						<div class="d-flex align-items-sm-center mb-7">
							<!--begin::Symbol-->
							<div class="symbol symbol-50px me-5">
								<span class="symbol-label">
									<img src="assets/media/svg/brand-logos/telegram.svg" class="h-50 align-self-center"
										alt="" />
								</span>
							</div>
							<!--end::Symbol-->
							<!--begin::Section-->
							<div class="d-flex align-items-center flex-row-fluid flex-wrap">
								<div class="flex-grow-1 me-2">
									<a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Popular
										Authors</a>
									<span class="text-muted fw-bold d-block fs-7">Randy, Steve, Mike</span>
								</div>
								<span class="badge badge-light fw-bolder my-2">+280$</span>
							</div>
							<!--end::Section-->
						</div>
						<!--end::Item-->
						<!--begin::Item-->
						<div class="d-flex align-items-sm-center mb-7">
							<!--begin::Symbol-->
							<div class="symbol symbol-50px me-5">
								<span class="symbol-label">
									<img src="assets/media/svg/brand-logos/vimeo.svg" class="h-50 align-self-center"
										alt="" />
								</span>
							</div>
							<!--end::Symbol-->
							<!--begin::Section-->
							<div class="d-flex align-items-center flex-row-fluid flex-wrap">
								<div class="flex-grow-1 me-2">
									<a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">New Users</a>
									<span class="text-muted fw-bold d-block fs-7">John, Pat, Jimmy</span>
								</div>
								<span class="badge badge-light fw-bolder my-2">+4500$</span>
							</div>
							<!--end::Section-->
						</div>
						<!--end::Item-->
						<!--begin::Item-->
						<div class="d-flex align-items-sm-center mb-7">
							<!--begin::Symbol-->
							<div class="symbol symbol-50px me-5">
								<span class="symbol-label">
									<img src="assets/media/svg/brand-logos/bebo.svg" class="h-50 align-self-center"
										alt="" />
								</span>
							</div>
							<!--end::Symbol-->
							<!--begin::Section-->
							<div class="d-flex align-items-center flex-row-fluid flex-wrap">
								<div class="flex-grow-1 me-2">
									<a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Active
										Customers</a>
									<span class="text-muted fw-bold d-block fs-7">Mark, Rowling, Esther</span>
								</div>
								<span class="badge badge-light fw-bolder my-2">+686$</span>
							</div>
							<!--end::Section-->
						</div>
						<!--end::Item-->
						<!--begin::Item-->
						<div class="d-flex align-items-sm-center mb-7">
							<!--begin::Symbol-->
							<div class="symbol symbol-50px me-5">
								<span class="symbol-label">
									<img src="assets/media/svg/brand-logos/kickstarter.svg"
										class="h-50 align-self-center" alt="" />
								</span>
							</div>
							<!--end::Symbol-->
							<!--begin::Section-->
							<div class="d-flex align-items-center flex-row-fluid flex-wrap">
								<div class="flex-grow-1 me-2">
									<a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Bestseller
										Theme</a>
									<span class="text-muted fw-bold d-block fs-7">Disco, Retro, Sports</span>
								</div>
								<span class="badge badge-light fw-bolder my-2">+726$</span>
							</div>
							<!--end::Section-->
						</div>
						<!--end::Item-->
					</div>
					<!--end::Body-->
				</div>
				<!--end::List Widget 4-->
			</div>
			<!--end::Col-->
		</div>
		<!--end::Row-->
	</div>
	<!--end::Post-->
</div>
<!--end::Container-->